p {
	font-size: 20px;
	font-family: sans-serif;
}

.header{
	width: 70%;
	padding: 5px 125px;
	margin: 20px 30px;
	vertical-align: top;
	text-align: justify;
}

.middle{
	width: 70%;
	margin: 20px 30px;
	padding-left: 150px;
	-webkit-column-count: 4 inherit;
	vertical-align: middle;
	text-align: left;
}

.linkbox {
	width: 135px;
	display: inline-block;
	margin: 35px;
}

img {
	width: 135px;
	height: 150px;
}

.footer {
	font-size: 12px;
	width: 70%;
	text-align: center;
	padding: 5px 125px;
}

.nowrap {
	white-space: nowrap;
}

li {
	display: inline;
	font-family: sans-serif;
	margin-right: 10px;
}

@media screen and (max-width: 300px) {
	body {
		width: 100%;
	}

	.middle { 
		width: 100%;
		padding-left: 25px;
	}


@media screen and (max-width: 100px) {
	.footer {
		width: 100%;
	}

	.middle {
		width: 75%;
		padding: 0;
	}


